{% extends 'base.html' %}

{% block css %}
<style>
    body{
        background-image: url('http://film.ua/uploads/assets/images/TRU_0092-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container .content{
        margin-top: 60px;
        margin-left: 100px;
    }
    
    .container p {
        color: black;
        padding: 20px;
        background-color: rgba(231, 206, 206, 0.49);
        display: flex;
        box-shadow: inset;
        line-height: 2rem;
    }
    .container p:hover {
        color: black;
        background-color: rgba(231, 206, 206, 0.963);
    }
    .card{
        height: 200px;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    <div class="content">
            <div class="col-md-12">
                <p>´Welcome to our motion capture website, where we specialize in providing cutting-edge motion capture services using computer vision technology for website projects. Our team of experts has extensive experience in using computer vision to capture and analyze human movements, allowing us to create highly realistic animations and simulations that can be integrated seamlessly into website design.

                    At our core, we believe that computer vision technology has the power to revolutionize the way we create website content. By combining advanced computer algorithms with cutting-edge hardware, we are able to capture even the most subtle movements and translate them into highly accurate motion data that can be used to enhance the user experience of a website.
                    
                    Our motion capture services for website projects are used by a variety of industries, including e-commerce, entertainment, and education. We can help bring your website to life with dynamic and engaging animations that will captivate your audience and set you apart from the competition.
                    
                    Whether you are looking to create product demonstrations, interactive educational materials, or immersive gaming experiences, our team of experts is here to help. We work closely with our clients to ensure that we fully understand their needs and can deliver the most effective motion capture solutions to meet their goals.
                    
                    Thank you for visiting our website, and we look forward to working with you to create dynamic and engaging website content using our motion capture services..
                </p>
            </div>
    </div>
</div>
{% endblock %}
